{% load i18n sizeformat %}
{% load url from future %}

<div class="detail">
  <dl class="dl-horizontal">
    <dt>{% trans "Name" %}</dt>
    <dd>{{ tap_flow.name|default:_("None") }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ tap_flow.id|default:_("None") }}</dd>
    <dt>{% trans "Direction" %}</dt>
    <dd>{{ tap_flow.direction|default:_("Both") }}</dd>
    <dt>{% trans "Tap Service ID" %}</dt>
    <dd>{{ tap_flow.tap_service_id|default:_("-") }}</dd>
    <dt>{% trans "Port ID" %}</dt>
    <dd>{{ tap_flow.source_port|default:_("-") }}</dd>
    <dt>{% trans "Project ID" %}</dt>
    <dd>{{ tap_flow.tenant_id|default:_("-") }}</dd>
  </dl>
</div>
